root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[{*.bat,*.ini,web.config}]
end_of_line = crlf

[*.{cjs,css,cts,ctsx,htm,html,js,jsm,less,mjs,mts,mtsx,pcss,sass,scss,svg,ts,tsx,vue,xml}]
indent_size = 2

[*.{cjs,css,cts,ctsx,htm,html,js,jsm,less,mjs,mts,mtsx,pcss,php,phtml,sass,scss,svg,ts,tsx,vue}]
charset = utf-8
