APP_ENVIRONMENT=development

# Built-in web server
APP_BUILT_IN_HOST=localhost
APP_BUILT_IN_PORT=5000

# Reverse proxy (e.g., load balancer)
APP_FORWARDED_PROTO=
APP_FORWARDED_HOST=
APP_FORWARDED_PORT=

# Session
APP_SESSION_EXPIRES=86400

# Composer autoload
APP_COMPOSER_AUTOLOAD=0

# Examples
S3_BUCKET=your-bucket-name
S3_KEY=your-access-key-id
S3_SECRET=your-secret-access-key
S3_REGION=your-aws-region
