# Temporary
~*

# Logs
*.log

# IDEs and tools
/.fleet
/.idea
/.nova
/.phpintel
/.phpunit.cache
/.vscode
/.zed

# Inphinit
/system/boot/env.php
/system/boot/metadata/*
/system/storage/*
/system/vendor/*

# Folders
!/system/boot/metadata/.keep
!/system/storage/session/.keep
!/system/storage/tmp/.keep

# Env
.env
.env.backup
.env.production

# Others
.DS_Store
desktop.ini
Thumbs.db
