# Temporary
~*

# Logs
php_errors.log

# IDEs and tools
/.fleet
/.idea
/.nova
/.phpintel
/.phpunit.cache
/.vscode
/.zed

# Inphinit
/system/boot/env.php
/system/boot/metadata/*
/system/storage/*
/system/vendor/*

# Folders
!/system/boot/metadata/.keep
!/system/storage/session/.keep
!/system/storage/tmp/.keep

# Others
.env
