* text=auto eol=lf

*.bash   text eol=lf
*.bat    text eol=crlf
*.cmd    text eol=crlf
*.ps1    text eol=crlf
*.coffee text
*.css    text diff=css
*.htm    text diff=html
*.html   text diff=html
*.md     text diff=markdown
*.php    text diff=php

server   text eol=lf

.htaccess  text eol=lf
web.config text eol=crlf

package-lock.json text eol=lf -diff
pnpm-lock.yaml    text eol=lf -diff
yarn.lock         text -diff

.github      export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
