# Temporary
~*

# Logs
*.log

# IDEs and tools
/.fleet
/.idea
/.nova
/.phpintel
/.phpunit.cache
/.vscode
/.zed

# Inphinit
/system/boot/env.php
/system/vendor/*
/system/boot/metadata/*

# Ignores storage content
/system/storage/**

# Preserves the storage folders used by the application
!/system/storage/private/
!/system/storage/samples/
!/system/storage/logs/
!/system/storage/session/
!/system/storage/tmp/

# Preserves .keep files
!/system/boot/metadata/.keep
!/system/storage/logs/.keep
!/system/storage/private/.keep
!/system/storage/samples/.keep
!/system/storage/session/.keep
!/system/storage/tmp/.keep
!/system/vendor/.keep

# Preserves the samples
!/system/storage/private/sample.txt
!/system/storage/samples/bar.txt
!/system/storage/samples/csv/
!/system/storage/samples/csv/
!/system/storage/samples/csv/MacOS9.csv
!/system/storage/samples/csv/source.csv
!/system/storage/samples/tsv/
!/system/storage/samples/tsv/source.tsv
!/system/storage/samples/error.xml
!/system/storage/samples/lines.txt
!/system/storage/samples/markdown.md
!/system/storage/samples/sqlite.db

# Env
.env
.env.backup
.env.production

# Others
.DS_Store
desktop.ini
Thumbs.db
