<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

IndexIgnore *

# Redirect page errors to route system
ErrorDocument 403 /index.php/RESERVED.INPHINIT-403.html
ErrorDocument 500 /index.php/RESERVED.INPHINIT-500.html
ErrorDocument 501 /index.php/RESERVED.INPHINIT-501.html

RewriteEngine On

# Handle Authorization Header
# RewriteCond %{HTTP:Authorization} .
# RewriteRule . - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Ignore hidden files
RewriteRule ^\.|/\. index.php [L]

# Redirect to public folder
RewriteCond %{REQUEST_URI} !(^$|public/|index\.php(/|$))
RewriteRule ^(.*)$ public/$1

# Redirect all urls to index.php if no exits files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
