<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

IndexIgnore *

# Redirect page errors to route system
ErrorDocument 401 /inphinit/index.php/RESERVED.INPHINIT-401.html
ErrorDocument 403 /inphinit/index.php/RESERVED.INPHINIT-403.html
ErrorDocument 500 /inphinit/index.php/RESERVED.INPHINIT-500.html
ErrorDocument 501 /inphinit/index.php/RESERVED.INPHINIT-501.html

RewriteEngine On

# Disable access to folder and redirect ./system/* path to "routes"
RewriteRule ^(system/|system$) index.php [L]

# Check file or folders exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirect all urls to index.php if no exits files/folder
RewriteRule ^ index.php [L]
