# Sample file for using Caddy or FrankenPHP

# Domain name of server
localhost {
    # Set the project root
    root ./

    # Enable compression (optional)
    encode zstd br gzip

    # Remove Server: header
    header -Server

    # Ignore hidden files
    @hidden path_regexp ^/\.|/\.
    rewrite @hidden /index.php

    # Redirect SAPI errors (403, 500) to the application's route system
    handle_errors {
        rewrite /index.php
    }

    # Execute PHP files from the public/ directory and serve assets
    php_server {
        root ./
        try_files public/{path} index.php
    }
}
