<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <error statusCode="401"
                   responseMode="ExecuteURL"
                   path="/index.php/RESERVED.INPHINIT-401.html?RESERVED_IISREDIRECT=1" />
            <error statusCode="403"
                   responseMode="ExecuteURL"
                   path="/index.php/RESERVED.INPHINIT-403.html?RESERVED_IISREDIRECT=1" />
            <error statusCode="501"
                   responseMode="ExecuteURL"
                   path="/index.php/RESERVED.INPHINIT-501.html?RESERVED_IISREDIRECT=1" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Ignore system folder" stopProcessing="true">
                    <match url="^(system/|system$)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Redirect to routes" stopProcessing="true">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <match url="^" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
